h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
h2 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
    font-size: medium;
    color: red;
}
