{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Welcome to Flask App {% endblock %}</h1>
  {% if error_str %}
    <h2 style="color: red; font-size: medium;"> {{ error_str }} </h2>
  {% endif %}
  {% for content in file_content %}
    <h3>{{ content }}</h3>
  {% endfor %}
{% endblock %}
